body {
  background: linear-gradient(45deg, #3e5f3c, #a3c293);
  font-family: Arial;
  text-align: center;
  color: #2b2b2b;
}

.convite {
  background: #fff8e1;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
  margin: 100px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1 {
  color: #4e342e;
}

button {
  background: #8d6e63;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #6d4c41;
}